.action-section {
  height: 5rem;
  width: 100vw;
  display: flex;
  border-top: 1px solid #e3e3e3;
}

.toggle-col {
  display: flex;
  align-items: center;
  ion-label {
    margin-left: 0.5rem;
  }
}

.item-input {
  --padding-start: 1.5rem;
}
