.home-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    top:0;
    left: 0;
}

mat-toolbar {
    justify-content: space-between;
    .icon-text {
        font-size: 2rem;
        font-weight: 700;
    }
}

.drawer-container {
    width: 100%;
}
.drawer-content {
    background-color: #fff;
}