<div class="home-container" *ngIf="viewModel$ | async as viewModel">
  <mat-toolbar class="toolbar" color="primary">
    <span>{{ viewModel.headerData?.title }}</span>
    <div
      *ngFor="let button of viewModel.headerData?.buttons"
      class="icon-container"
      (click)="drawer.toggle()"
    >
      <span class="material-icons-outlined icon-text">
        {{ button.name }}
      </span>
    </div>
  </mat-toolbar>

  <div class="main-container">
    <mat-accordion>
      <mat-expansion-panel
        hideToggle
        *ngFor="let item of viewModel.items | currentList"
      >
        <mat-expansion-panel-header>{{ item.name }}</mat-expansion-panel-header>
        <div class="panel-container">
          <div class="detail-container">
            <span class="label">Category:</span>
            <span class="description">{{item.category}}</span>
          </div>
          <div class="detail-container">
            <span class="label">Date Purchased:</span>
            <span class="description">{{item.datePurchased | date:'fullDate'}}</span>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <mat-drawer-container class="drawer-container" autosize>
    <mat-drawer class="drawer-content" mode="over" position="end" #drawer>
      <div class="drawer-details">
        <form [formGroup]="addItemForm">
          <mat-form-field>
            <mat-label>Item Category</mat-label>
            <mat-select formControlName="itemCategory">
              <mat-option
                [value]="itemCat"
                *ngFor="let itemCat of viewModel.itemCategories"
                >{{ itemCat }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter an item</mat-label>
            <mat-autocomplete #auto>
              <mat-option *ngFor="let item of viewModel.items" [value]="item.name">{{item.name}}</mat-option>
            </mat-autocomplete>
            <input
              matInput
              type="text"
              [matAutocomplete]="auto"
              formControlName="item"
            />
          </mat-form-field>
          <div class="toggle-section">
            <mat-slide-toggle
              formControlName="addToCurrentList"
            ></mat-slide-toggle>
            <label>Add to current list</label>
          </div>
        </form>
        <div class="button-section">
          <button
            mat-raised-button
            color="primary"
            [disabled]="addItemForm.invalid"
            (click)="webStateServce.addItemToList(addItemForm); drawer.toggle(); addItemForm.reset()"
          >
            Add Item
          </button>
        </div>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
